[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit ZX7: an "optimal" LZ77 packer - World of Spectrum
Type=Link
URL=https://www.worldofspectrum.org/forums/discussion/42037/zx7-an-optimal-lz77-packer#latest
Icon=mate-fs-bookmark
