make.out
logfile
dumpfile
file.out
file.inp
*-delta
d1
d1p
hdca-0
hdca-1
hdca-2
hdca-3
hddma-0
hddma-1
hddma-2
hddma-3
ide-0
ide-1
.last
.gdbargs
mmu_test
mon*.sym
mon*.bin
mon*.cim
multIO.sym
multIO.bin
multIO.cim
